<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Do Chating </title>
</head>
<body>
    <h2>Write a chat</h2>
    <form    method="post"               action="/chat/new">
        <input placeholder="who are you" name="from"/>
        <br>
        <br>
        <textarea name="msg" placeholder="Write msg"></textarea>
        <br>
        <br>
        <input placeholder="add reciver name" name="to"/>
        <br>
        <br>
        <button>Create a Chat</button>
        <br>
    </form>
</body>
</html>